:root
{  
  --md-sys-color-primary: #FEF7FF;                
  --md-sys-color-primary-container: #EADDFF;     
  --md-sys-color-on-primary-container: #FFFFFF;  
  
  --app-bg: var(--md-sys-color-primary-container);

  /* Text-Field-Tokens */
  --md-outlined-text-field-container-shape: 4px;       
  --md-outlined-text-field-container-fill-color: #FFFFFF; /* weißer Hintergrund */ 
  --md-outlined-text-field-label-text-color: rgba(0,0,0,0.6); /* Label-Farbe */ 
  --md-outlined-text-field-input-text-color: rgba(0,0,0,0.87);/* Text-Farbe */ 
  --md-outlined-text-field-focus-outline-color: var(--md-sys-color-primary); 
}
html,
body,
ion-app,
ion-router-outlet,
ion-page,
ion-content {
  height: 100%;
  margin: 0;
  padding: 0;
}